<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br> pensamento novo:</h2>
  </header>
  <!-- Adicionado o Property Binding [formGroup] com a propriedade formulario criada no TS
       a fim de associar o formulario ao template html -->
  <form [formGroup]="formulario">
    <label for="pensamento">Pensamento</label>
    <!-- <input type="textarea" class="input" id="pensamento" name="pensamento" placeholder="Digite seu pensamento aqui"
      [value]="pensamento.conteudo"> -->
    <!-- Property Binding (Direção do TS para o HTML) -->
    <!-- Utilizar a propriedade value e os colchetes para o Angular encontrar o conteúdo corretamente
         e renderizar o conteúdo do objeto pensamento na tela conhecido como Property Binding
         (Lembrando que não é possível utilizar os 2 tipos de property binding juntos) -->
    <!-- Utilizei tecla SHIFT + ALT + Seta para baixo para duplicar o bloco label abaixo -->
    <!-- Abaixo utilizado a Diretiva Bidirecional ngModel -->
    <input type="textarea" class="input" id="pensamento" formControlName="conteudo"
      placeholder="Digite seu pensamento aqui">
    <!-- Removido o uso do [(ngModel)] do input de conteudo que é bidirecional, pois o FormBuilder já faz o mesmo -->
    <div class="mensagem__erro" *ngIf="formulario.get('conteudo')?.errors &&
         formulario.get('conteudo')?.touched">
      <p>Pensamento é obrigatório</p>
    </div>
    <label for="autoria">Autoria ou fonte</label>
    <!-- Utilizei CTRL + D para ir selecionando as palavras iguais "pensamento" e substitui por autoria -->
    <input type="text" class="input" id="autoria" formControlName="autoria" placeholder="Digite a autoria ou fonte">
    <div class="mensagem__erro" *ngIf="formulario.get('autoria')?.errors?.['required'] &&
     formulario.get('autoria')?.touched">
      <p>Autoria é obrigatória</p>
    </div>
    <div class=" mensagem__erro" *ngIf="formulario.get('autoria')?.errors?.['minlength'] &&
     formulario.get('autoria')?.touched">
      <p>Autoria precisa ter no mínimo 3 caracteres!</p>
    </div>
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <!-- Modelo 1 -->
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <!-- Aqui não tenho uma propriedade para adicionar dentro da tag p, logo, devo utilizar outra
               sintaxe de Property Binding, que neste caso, será o uso de chaves duplas para renderizar
               o conteúdo desejado. Essa forma se chama Interpolação (Direção do TS para o HTML) 
               Adaptado para o uso de métodos existentes no formulário reativo -->
          <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
        </div>
      </div>
      <!-- Modelo 2 -->
      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
        </div>
      </div>
      <!-- Modelo 3 -->
      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ formulario.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formulario.get('autoria')?.value }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <!-- Utilizado o Event Binding através do uso de parênteses para capturar o clique no botão
           essa forma possui a direção do HTML para o TS -->
      <button (click)="criarPensamento()" class="botao">Salvar</button>
      <button routerLink="/listarPensamento" class="botao">Cancelar</button>
    </div>
  </form>
</section>