<!-- Utilizado Interpolação para recuperar o modelo do TS e passar para o HTML -->
<div class="pensamento {{ pensamento.modelo }} ff-roboto-mono" [ngClass]="larguraPensamento()">
  <!-- Ao utilizar a diretiva [ngClass] estamos delegando ao TS adicionar a classe CSS que atende
       ao tamanho do texto inserido, ou seja, troca o estilo de forma dinâmica -->
  <img src="../../../../assets/imagens/{{ pensamento.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ pensamento.conteudo }}</p>
  <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-editar">
      <img src="../../../../assets/imagens/icone-editar.png" alt="Icone de editar">
    </button>
    <button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
      <img src="../../../../assets/imagens/icone-excluir.png" alt="Icone de excluir">
    </button>
  </div>
</div>
