<section class="container editar-pensamentos ff-inter">
  <header class="header">
    <h2>Editar um <br> pensamento:</h2>
  </header>
  <!-- Desafio adicionando formulário reativo no componente editar -->
  <form [formGroup]="formEdit" *ngIf="formEdit">
    <label for="pensamento">Pensamento</label>
    <input type="textarea" class="input" id="pensamento" formControlName="conteudo"
      placeholder="Digite seu pensamento aqui">
    <!-- Validação do campo conteudo -->
    <div class="mensagem__erro" *ngIf="formEdit.get('conteudo')?.errors && formEdit.
    get('conteudo')?.touched">Pensamento é obrigatório!</div>

    <label for="autoria">Autoria ou fonte</label>
    <!-- Utilizei CTRL + D para ir selecionando as palavras iguais "pensamento" e substitui por autoria -->
    <input type="text" class="input" id="autoria" formControlName="autoria" placeholder="Digite a autoria ou fonte">
    <!-- Validação do campo autoria -->
    <div class="mensagem__erro"
      *ngIf="formEdit.get('autoria')?.errors?.['required'] && formEdit.get('autoria')?.touched">
      Autoria é obrigatória!
    </div>
    <div class="mensagem__erro"
      *ngIf="formEdit.get('autoria')?.errors?.['minlength'] && formEdit.get('autoria')?.touched">
      Autoria precisa ter no mínimo 3 caracteres!
    </div>

    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <!-- Modelo 1 -->
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ formEdit.get('conteudo')?.value }}</p>
          <!-- Aqui não tenho uma propriedade para adicionar dentro da tag p, logo, devo utilizar outra
               sintaxe de Property Binding, que neste caso, será o uso de chaves duplas para renderizar
               o conteúdo desejado. Essa forma se chama Interpolação (Direção do TS para o HTML) -->
          <p class="autoria"><b>{{ formEdit.get('autoria')?.value }}</b></p>
        </div>
      </div>
      <!-- Modelo 2 -->
      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ formEdit.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formEdit.get('autoria')?.value }}</b></p>
        </div>
      </div>
      <!-- Modelo 3 -->
      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" formControlName="modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ formEdit.get('conteudo')?.value }}</p>
          <p class="autoria"><b>{{ formEdit.get('autoria')?.value }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <!-- Utilizado o Event Binding através do uso de parênteses (click) para capturar o clique no botão
           essa forma é unidirecional, ou seja, possui a direção do HTML para o TS
           Utilizado Property Binding [disabled] para verificar se o formulario Editar é válido
           Utilizado Property Binding [ngClass] para estilizar a cor do botão de acordo com o cenário -->
      <button (click)="editarPensamento()" [disabled]="!formEdit.valid" [ngClass]="habilitarBotao()">Salvar</button>
      <button routerLink="/listarPensamento" class="botao">Cancelar</button>
    </div>
  </form>
</section>