<section class="container editar-pensamentos ff-inter">
  <header class="header">
    <h2>Editar um <br> pensamento:</h2>
  </header>
  <form action="">
    <label for="pensamento">Pensamento</label>
    <input type="textarea" class="input" id="pensamento" name="pensamento" placeholder="Digite seu pensamento aqui"
      [(ngModel)]="pensamento.conteudo">
    <label for="autoria">Autoria ou fonte</label>
    <!-- Utilizei CTRL + D para ir selecionando as palavras iguais "pensamento" e substitui por autoria -->
    <input type="text" class="input" id="autoria" name="autoria" placeholder="Digite a autoria ou fonte"
      [(ngModel)]="pensamento.autoria">
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <!-- Modelo 1 -->
      <div class="radio-modelo">
        <label for="modelo1">
          <input type="radio" id="modelo1" value="modelo1" name="modelo-card" [(ngModel)]="pensamento.modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <!-- Aqui não tenho uma propriedade para adicionar dentro da tag p, logo, devo utilizar outra
               sintaxe de Property Binding, que neste caso, será o uso de chaves duplas para renderizar
               o conteúdo desejado. Essa forma se chama Interpolação (Direção do TS para o HTML) -->
          <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
        </div>
      </div>
      <!-- Modelo 2 -->
      <div class="radio-modelo">
        <label for="modelo2">
          <input type="radio" id="modelo2" value="modelo2" name="modelo-card" [(ngModel)]="pensamento.modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
        </div>
      </div>
      <!-- Modelo 3 -->
      <div class="radio-modelo">
        <label for="modelo3">
          <input type="radio" id="modelo3" value="modelo3" name="modelo-card" [(ngModel)]="pensamento.modelo">
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ pensamento.conteudo }}</p>
          <p class="autoria"><b>{{ pensamento.autoria }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <!-- Utilizado o Event Binding através do uso de parênteses para capturar o clique no botão
           essa forma é unidirecional, ou seja, possui a direção do HTML para o TS -->
      <button (click)="editarPensamento()" class="botao">Salvar</button>
      <button routerLink="/listarPensamento" class="botao">Cancelar</button>
    </div>
  </form>
</section>
